.add-task-button{
  padding: 2px 6px;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /*
    button タグには初期値で border が設定されているので 0px に変更。
    padding も初期値で設定されているので指定値に上書きする。
  */
}

.add-task-button:hover{
  border-radius: 14px;
}

.add-task-button-image{
  height: 20px;
}

.add-task-button-text{
  margin: 0px;
  /*
    p タグには初期値で margin が設定されているので 0px に変更
  */
}