.edit-button{
  width: 20px;
  height: 20px;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease 0s;

  /*
    relative を指定して edit-button-image セレクタを継承する要素を重ね合わせる方法で表示していたが、
    flex アイテムにして要素を中心に配置した方が楽だったため flex を用いるように変更。

    transition: 0.2s ease 0s -> hover時のアクション時間。 ease は変化速度を途中だけ速くする。 遅延時間は 0 秒。
  */
}

.edit-button:hover{
  border-radius: 20px;
  cursor: pointer;

  /*
    border-radius: 20px; -> 半径 20px の円弧をベースにした角丸を実装
    参考文献: https://www.webcreatorbox.com/tech/border-radius
  */
}

.edit-button-image{
  width: 20px;
  height: 20px;
}