.edit-button{
  width: 20px;
  height: 20px;
  border: 0px;
  position: relative;

  /*
    button の初期値に border が設定されていることが原因で画像を上に重ねても若干ズレる。
    border を 0px にして親要素と子要素のサイズを同じにする必要がある。
  */
}

.edit-button:hover{
  border-radius: 20px;

  /*
    border-radius: 20px; -> 半径 20px の円弧をベースにした角丸を実装
    参考文献: https://www.webcreatorbox.com/tech/border-radius
  */
}

.edit-button-image{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0px;
  bottom: 0px;

  /*
    right: 0px  -> 親要素の右側から 0px の位置に配置を合わせる
    bottom: 0px -> 親要素の下側から 0px の位置に配置を合わせる
  */
}