.edit-button{
  width: 20px;
  height: 20px;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  /*
    relative を指定して edit-button-image セレクタを継承する要素を重ね合わせる方法で表示していたが、
    flex アイテムにして要素を中心に配置した方が楽だったため flex を用いるように変更。
  */
}

.edit-button:hover{
  cursor: pointer;
  border-radius: 20px;

  /*
    border-radius: 20px; -> 半径 20px の円弧をベースにした角丸を実装
    参考文献: https://www.webcreatorbox.com/tech/border-radius
  */
}

.edit-button-image{
  width: 20px;
  height: 20px;

  /*
    right: 0px  -> 親要素の右側から 0px の位置に配置を合わせる
    bottom: 0px -> 親要素の下側から 0px の位置に配置を合わせる
  */
}