.checkbox {
  width: 20px;
  height: 20px;
  padding: 0px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checkbox:hover .checkbox-image {
  display: block; /* ホバー時に画像を表示するように変更 */
}

.checkbox-image {
  width: 20px;
  height: 20px;
  display: none; /* 最初は非表示にしておく */
}